//FONTS
$lato: 'Lato', sans-serif;
$opensans: 'Open Sans', sans-serif;
$consolas: "Consolas, 'Courier New', monospace";

//COLORS
$white: #ffffff;
$white2: #fdfdfd;
$black: #444;
$grey: #ababab;
$darkgrey: #717171;
$lightgrey: #f3eeee; 
$lightgrey2: #fbfbfb; 
$orange: #ff8000;
$blue: #338fff;
$yellow: #F9FD65;
$green: #7ce810;
$lightgreen: #c7fd91;
$pinkred: #f5004f;
$pink_orange: #f58d70;

$hightlight: #69ff85;

$primary: #2196f3;

$text: #444;

